.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 500px;
    background-color: #ae9c82;
    margin-top: 100px;
    padding-top: 150px; /* Dovoljno prostora za prikaz slike na vrhu */
    border-radius: 20px;

    /* Postavljanje pozadinske slike */
    background-image: url('../Assets/Untitled.png');
    background-size: 105%; /* Skalira sliku tako da stane unutar containera */
    background-repeat: no-repeat;
    background-position: top center; /* Pozicionira sliku na vrh centra containera */

}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: px;
}

/*Ovo mi je animacija za naslov Camopus Hero*/
h2 {
    margin-top: 100px;
    --a: -45deg; /* Control the angle */
    --t: .23em; /* Thickness of the underline */
    color: #ffffff;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    text-transform: capitalize;
    transform: translateY(40%);
}
  
h2 span {
    --_s: calc(var(--t) * cos(var(--a)));
    background: linear-gradient(
        var(--a),
        #0000 var(--_s),
        currentColor 0 calc(100% - var(--_s)),
        #0000 0
      )
      bottom / var(--i, 90%) var(--t) no-repeat;
    padding: 0 .25em calc(var(--t) + .1em);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    transition: .2s;
    cursor: default;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4),0 -2px 1px #ebb56a;
    letter-spacing: -3px;
    color: #58493a;
}
  
h2:hover span {
    --i: 100%;
}
  
.or {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #000000;
    font-size: 20px;
    font-weight: lighter;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 27px;
    color: #000000;
    font-size: 30px;
    gap: 6px;
    font-weight: lighter;
}

h3 span {
    cursor: pointer;
    display: inline;
    border-bottom: 1px solid #000000;
}

.logins {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.bottom-container {
    display: flex;
    width: 100%; /* Osigurava da ide do kraja containera */
    margin-top: 60px;
    background-color: #ae9c82;
    background-image: url('../Assets/bottom.jpeg');
    background-size: cover; /* Pokriva cijeli container */
    background-repeat: no-repeat;
    background-position: center;
    height: 150px; /* Visina za prikaz slike */
    border-radius: 20px;
}


