.profile-container {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  background-color: #f4f6fc;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.h2-profile {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  color: #4a4a4a;
  margin-bottom: 40px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #7f84b7cd;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.h3-profile {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: #4a4a4a;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #7f84b7cd;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.user-data-container {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.user-data-form {
  display: flex;
  flex-direction: column;
}

.user-data-item-container {
  margin-bottom: 20px;
}

.user-data-label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #4a4a4a;
}

.user-data-input,
.user-data-select {
  padding: 12px;
  border: 2px solid #7f84b7cd;
  border-radius: 20px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
  background-color: #f9f9f9;
}

.user-data-input:focus,
.user-data-select:focus {
  border-color: #7f84b7;
  outline: none;
  background-color: #ffffff;
}

.error-message {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

.button-profile {
  padding: 14px 24px;
  background-color: #7f84b7cd;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
}

.button-profile:hover {
  background-color: #6c72a1;
  transform: translateY(-2px);
}

.submit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logout {
  background-color: #e74c3c;
  padding: 24px 48px;
  margin: 20px;
  font-size: 26px;
  font-weight: bold;
}

.logout:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}

.become-admin-container {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.become-admin-form {
  display: flex;
  flex-direction: column;
}

.become-admin-item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.become-admin-textarea {
  height: 150px;
  resize: none;
  border-radius: 20px;
  padding: 8px 0px 0px 8px;
}

.become-admin-label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #4a4a4a;
}

.text-italic {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  color: #7f84b7cd;
}

.user-data-select {
  padding: 12px;
  border: 2px solid #7f84b7cd;
  border-radius: 20px;
  font-size: 14px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.user-data-select:focus {
  border-color: #7f84b7;
  outline: none;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .profile-container {
    width: 95%;
  }
}
