
  
  .h2B {
    color: #bd1095;
    font-size: 2.4rem;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  .introB {
    font-size: 1.1em;
    font-style: italic;
    color: #555;
    border-left: 3px solid #bd1095;;
    padding-left: 15px;
  }
  
  ul {
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 1.4rem;
  }
  
  .note {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    font-size: 0.9em;
    color: #555;
  }
  
  .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
  }
  
  .btn {
    background-color: #fff;
    color: #fff;
    height: 4.4rem;
    width: 14.6rem;
    text-align: center;
    line-height: 4.5rem;
    margin: 0 auto;
    font-size: 1.5rem;
    user-select: none;
  }
  
  .btn-txt{
    height: 100%;
    width: 60%;
    position: relative;
    margin: 0 auto;
    font-size: 1.5rem;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .soft {
    color: #222;
    background: #bd1095;
    border-radius: 2rem;
    transition: .2s;
    animation: puff infinite 5s;
    filter: drop-shadow(10px 7px 0.75rem #ddd);
    top: 50%;
    left: 0;
    position: relative;
  }
  
  .soft-txt{
    font-family: 'Rubik Bubbles';
    background: -webkit-linear-gradient(#ffffff,#ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    font-weight: bold;
  }
  
  .soft div:nth-child(2) {
    background-color: #bd1095;
    height: 70px;
    width: 90px;
    border-radius: 100%;
    position: relative;
    z-index: -2;
    top: -135%;
    left: 13%;
  }
  .soft div:nth-child(3) {
    background-color: #bd1095;
    height: 90px;
    width: 130px;
    border-radius: 100%;
    position: relative;
    z-index: -1;
    top: -235%;
    left: 35%;
  }
  
  .soft:hover {
    filter: drop-shadow(15px 12px 1rem #0eb6a8);
  }
  
  .soft:active{
    filter: drop-shadow(8px 5px 0.5rem #ddd);
    transform: translate(2%,2%);
  }
  .spacer {
    height: 70px;
  }

  
  .checkbox {
    display: flex;
    align-items: center; /* Centriranje elemenata vertikalno */
    justify-content: center; /* Poravnanje elemenata horizontalno */
    margin-top: 20px;
    gap: 15px; /* Razmak između h1 i checkboxa */
    margin-bottom: 30px;
  }
  
  .buddy-upit {
    font-size: 1.5rem;
    color: #413f3f;
    margin: 0;
    line-height: 30px; /* Postavlja istu visinu kao checkbox */
  }
  
  .styled-checkbox {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle; /* Poravnanje checkboxa u sredinu */
  }
  
  .styled-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .styled-checkbox label {
    width: 30px;
    height: 30px;
    background: #ffa500; /* Narančasta boja */
    border: 2px solid #ffa500;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .styled-checkbox input[type="checkbox"]:checked + label {
    background: #55e868; /* Zelena boja */
    border-color: #55e868;
  }
  
  .styled-checkbox label:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .styled-checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
  .modal1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content-buddy {
    background: #585958;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close-modal-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #bd1095;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-modal-btn:hover {
    background: #a00d7d;
  }
  

  @media (max-width: 600px) {
    .faculties-info-container {
      padding: 10px;
    }
  
    h1 {
      font-size: 2em;
    }
  
    .h2B {
      font-size: 1.5em;
    }
  }